In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import openpyxl

path = 'dataset/Online Retail.xlsx'
data = pd.read_excel(path)

            InvoiceDate  InvoiceNo    Total
CustomerID
12346.0             326          2     0.00
12347.0               2          7  4310.00
12348.0              75          4  1797.24
12349.0              19          1  1757.55
12350.0             310          1   334.40
...                 ...        ...      ...
18280.0             278          1   180.60
18281.0             181          1    80.82
18282.0               8          3   176.60
18283.0               4         16  2094.88
18287.0              43          3  1837.28

[4372 rows x 3 columns]

In [6]:

snapshot_date = max(data['InvoiceDate']) + pd.DateOffset(days=1)

data['Total'] = data['Quantity'] * data['UnitPrice']

rfm = data.groupby('CustomerID').agg({
    'InvoiceDate': lambda x: (snapshot_date - x.max()).days,
    'InvoiceNo': 'nunique',
    'Total': 'sum'
})
rfm

            InvoiceDate  InvoiceNo    Total
CustomerID
12346.0             326          2     0.00
12347.0               2          7  4310.00
12348.0              75          4  1797.24
12349.0              19          1  1757.55
12350.0             310          1   334.40
...                 ...        ...      ...
18280.0             278          1   180.60
18281.0             181          1    80.82
18282.0               8          3   176.60
18283.0               4         16  2094.88
18287.0              43          3  1837.28

[4372 rows x 3 columns]

In [8]:
# Calculate custom bin edges for Recency, Frequency, and Monetary scores
recency_bins = [rfm['Recency'].min()-1, 20, 50, 150, 250, rfm['Recency'].max()]
frequency_bins = [rfm['Frequency'].min() - 1, 2, 3, 10, 100, rfm['Frequency'].max()]
monetary_bins = [rfm['MonetaryValue'].min() - 3, 300, 600, 2000, 5000, rfm['MonetaryValue'].max()]

KeyError: 'Recency'